defaults: &defaults
  docker:
  - image: circleci/node:8.11
  working_directory: ~/code

version: 2
jobs:
  setup:
    <<: *defaults
    steps:
      - checkout
      - run: git submodule update --init --recursive
      - run: sudo npm i -g npm && npm -v
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "package-lock.json" }}
            - v1-dependencies-
      - run: npm ci
      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "package-lock.json" }}
  test:
    <<: *defaults
    steps:
      - checkout
      - run: git submodule update --init --recursive
      - run: sudo npm i -g npm && npm -v
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "package-lock.json" }}
            - v1-dependencies-
      - run: npm run ci-test
  deploy:
    <<: *defaults
    steps:
      - checkout
      - run: git submodule update --init --recursive
      - run: sudo npm i -g npm && npm -v
      - run: git config --global user.name "CircleCI"
      - run: git config --global user.email "mr.hokid@gmail.com"
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "package-lock.json" }}
            - v1-dependencies-
      - run: ci-deploy-test-net

workflows:
  version: 2
  build_test_deploy:
    jobs:
      - setup
      - test:
          requires:
            - setup
      - deploy:
          requires:
            - test
          filters:
            tags:
              only: /^v\d{1,4}\.\d{1,4}\.\d{1,4}$/
            branches:
              only:
                - master
